{{ partial "header.html" .}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {{ if isset .Params "image" }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/{{ .Params.image }}')">
      {{ else }}<header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/emc.jpeg')">
    {{ end }}
      <div class="container">
        <div class="row">
           <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
             <div class="site-heading">
               <h1>{{ .Title }}</h1>
               <hr class="small">
               <span class="subheading">{{ .Description }}</span>
             </div>
           </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-lg-offset-0 col-md-10 col-md-offset-1">
                  <!-- 部員表示　ここから -->
                  {{ if eq .File.TranslationBaseName "introduction" }}
                    <h2>部員</h2>
                    {{ $tagmap := .Site.Taxonomies.tags}}
                    {{ range $val := seq 200 -1 90 }}
                      {{ $name := (print $val "回生")}}
                      {{ with index $tagmap $name }}
                        {{ $taxonomy := index $tagmap $name}}
                        <div onclick="obj=document.getElementById('{{ $name }}').style; obj.display=(obj.display=='none')?'block':'none';">
                        <a style="cursor:pointer;">
                          <font size="6" color=#3b75b7>
                            <u>●{{ $name }}{{if ge (sub (int (now.Format "2006")) $val) 1919}}(引退){{ end }}</u></font></a>
                        </div>

                        <div id="{{ $name }}" style="display:none;clear:both;">
                        {{ range $taxonomy.Pages }}
                            {{ if .Params.Mypage }}
                              <a href="{{ .Permalink}}" style="color:blue;text-decoration:none;">
                            {{ end }}
                            <h3>　● {{ if .Params.Mypage }}<u>{{ end }}{{ .Params.Title }}
                            {{ if ne .Params.Description "" }}
                              ({{ .Params.Description }})
                            {{ end }}
                            {{ if .Params.Mypage }}</u>{{ end }}
                            </h3>
                            {{ if .Params.Mypage }}
                              </a>
                            {{ end }}
                          {{ end }}
                        </div>
                      {{ end }}
                    {{ end }}
                  {{ end }}
                  <!-- 部員表示　ここまで -->

                  <br>
                  {{ .Content }}
                  {{ partial "comments.html" .}}
                </div>
            </div>
        </div>
    </article>

{{ partial "footer.html" .}}
