{{ partial "header.html" .}}

    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/home-bg.jpg')">
     <div class="container">
       <div class="row">
         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1>404 Error</h1>
             <hr class="small">
             <span class="subheading">お探しのページは見つかりませんでした</span>
           </div>
         </div>
       </div>
     </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2><p><a href="/">トップページ</a></p></h2>
        <h2><p><a href="/post/">活動記録</a></p></h2>
        <h2><p><a href="/page/introduction/">クラブ紹介</a></p></h2>
        <h2><p><a href="/page/archive">部誌アーカイブ</a></p></h2>
      </div>
    </div>

{{ partial "footer.html" .}}
