{{ partial "header.html" .}}
    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('{{ .Site.BaseURL }}/img/gif/export1.gif');background-size:auto 160%;background-color:black;">
     <div class="container">
       <div class="row">

         <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
           <div class="site-heading">
             <h1>甲陽学院高校<br>物理部</h1>
             <hr class="small">
             {{ with .Site.Params.Description }}<span class="subheading">{{ . }}</span>{{ end }}
           </div>

         </div>
       </div>
     </div>

    </header>

    <!-- Main Content -->
    <div class="container">
      <article>
      {{ .Content }}
      </article>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <p><a href="/post/"><h2>活動記録</h2></a></p>
          {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
          {{ range first $posts (where .Data.Pages "Type" "post") }}
              {{ .Render "summary"}}
          {{ end }}
          <!-- Pager -->
          <ul class="pager">
            <li class="next">
              <a href="{{ .Site.BaseURL }}/post/">過去の記事 &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

{{ partial "footer.html" .}}
